
/* main */

a:visited {
    color: #3d405b;
    text-decoration: none;
}

a:hover{
    color: #f2cc8f;
}

body{
    background-color:#f4f1de;
    padding: 0px;
    border: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: monospace,Arial, Helvetica;
    color: #3d405b;

}


.header-nav{
    background-color: #e07a5f;
    height: 20%;
    justify-content: flex-start;
    width: 100%;
}

.header-buttons{
    display: inline;
    font-size: 20px;
    font-weight: bold;
    
}

.page-title{
    display: flex;
    justify-content: center;
    align-items: center;

}

.landing{
    background-color:#81b29a;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 70%;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.article-box{
width: 500px;
height: 500px;
margin: 0px;
background: #f2cc8f;
box-sizing: border-box;
margin: 30px;
display: inline-block;
border: 0px;
padding: 0px;
display: flex;
justify-content: center;
align-items: center;
}

.article-box2{
    width: 500px;
    height: 500px;
    margin: 0px;
    background: #f2cc8f;
    box-sizing: border-box;
    margin: 30px;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 0px;
    padding: 20px;
    }

.my-photo{
    width: 390px;
    height: 390px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    border-radius: 10%;
}




.external-links{
    display: flex;
    justify-content: flex-end;
    padding: 20px;

}

.button-ex-links{
    font-size: 15px;
    background-color: #f4f1de;
}
    


.footer{
    height: 10%;
    background: #3d405b;
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2cc8f;
}

.resume-button{
    background-color: #e07a5f;
    font-size: 20px;

}

/*Ipad for home page*/   


@media only screen and (max-width: 768px) {
    .my-photo{
        width: 300px;
        height: 300px;
        margin: 0px;
        border: 0px;
        padding: 0px;
        border-radius: 10%;
    }
  }


  /* Iphone for home page */

  @media only screen and (max-width: 375px) {
    .my-photo{
        width: 150px;
        height: 150px;
        margin: 0px;
        border: 0px;
        padding: 0px;
        border-radius: 10%;
    }
  }


  /* css just for blog page  */

  .blog-article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 50px;
  }


.blogpic {
    width: 550px;
    height: 390px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: block;
    border-radius: 10%;
}

/* iphone for Blog page */

@media only screen and (max-width: 375px) {
    .blogpic{
        width: 110px;
        height: 78px;
        margin: 0px;
        border: 0px;
        padding: 0px;
    }
  }


  /* css just for project page */

  .article-box3 {
    width: 500px;
    margin: 0px;
    background: #f2cc8f;
    box-sizing: border-box;
    margin: 30px;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 0px;
    padding: 20px;
}


.project-photo{
    width: 390px;
    height: 390px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: block;
    border-radius: 10%;
}

/* iphone for Project page */

@media only screen and (max-width: 375px) {
    .project-photo{
        width: 150px;
        height: 150px;
        margin: 0px;
        border: 0px;
        padding: 0px;
        border-radius: 10%;
    }
  }

  /* css just for contact page */

  .contact-me-form{
        margin: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #3d405b;

  }

  .send-me-button{
    background-color: #e07a5f;
    font-size: 20px;
    margin-top: 20px;
  }

input{
    background-color:#f2cc8f ;
    display: block;
    width: 200px;
}  
textarea{
    background-color:#f2cc8f ;
    height: 100px;
    width: 200px;
    display: block;
}